<html>	 
<head>
	<title>{% block title %}OVPL{% end %}</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
	<style type="text/css">{% block CSS %}{% end %}</style>
</head>
<body>
	<div id="container">
		<header>
			<h1>{% block header %}OVPL{% end %}</h1>
		</header>
		<div id="main">
				{% block body %}{% end %}
		</div>
		<footer>
			{% block footer %}
			<a href="http://github.com/vlead/ovpl">OVPL - Github</a>
			{% end %}
		</footer>
	</div>
	</body>
</html>